body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-ds {
    color: #ffe4b5;
    font-size: 2.1em;
}

.specialchef {
    font-size: 70px;
    margin-bottom: 11%;
}
.specialchef_0 {
    font-weight: 100;
}

.delights {
    font-size: 60px;
    color: #ffe4b5;
    font-weight: 100;
}

.paragraphe {
    margin-bottom: 7%;
    font-size: x-large;
}