section{

background-image: url(../css/bg4.png);    
height: 10%;

}
.discount{

text-align: center;
margin-top: 20%;
font-size: 800%;
background-image: url(../css/bg4.png);

}

.multiple{

text-align: center;
font-size: 300%;

}








 

 
 
   
    
      
    
    
    
    
    
    