body{

    background-image:url(../css/bg4.png);
    color:#ffe4b5;
    background-repeat:no-repeat;
    background-size: 100%;
    height: 1000px;
    }
    
.discount{

text-align: center;
margin-top: 20%;
font-size: 300%;


}

.multiple{

text-align: center;
font-size: 300%;

}
