section{

    background-image: url(../partie7/css/bg6.png);
    height: 900px;
    background-repeat: no-repeat;
    background-position: 300px;
    background-position: 50%;
    
}


#lorem1{


}






    

   








