.overhidden{
    overflow: hidden;
}

.BlckOverlay{
    background-color: rgba(0,0,0,0.5);
}

#we{
    background-image:   linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%),
                        url(rsc/bg1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

hr{
    color: #ffe4b5;
    height: 2px !important;
    opacity: 1;
    margin: 0;
}

.txt{
    color: #ffe4b5;
    text-decoration: none !important;
    margin-bottom: 0 !important; 
}

.space1{
    height: 410px;
}

#DS {
    font-size: 10em;
}

#REST{
    font-size: 1.75em;
}