.couleur{

color: #ffe4b5  !important;
font-size: 18px;

}


section{

    background-image:url(../maquettes/burger.png);
    background-repeat:no-repeat;
    background-size: 100%;
    height: 800px;
}   









