body{

    background-image:url(../maquettes/nouilles.png);
    color:#ffe4b5;
    background-repeat:no-repeat;
    background-size: 100%;
    }
    
.Discount{


text-align: center;
margin-top: 200px;


}

.align-items-lg-center{

text-align: center;
font-size: 60px;


}



#discount1{


font-size: 50px;




}



#photochop{


font-size: 30px;



}













 













 

 
 
   
    
      
    
    
    
    
    
    